
SSH_AUTH_SOCK="/run/user/1000/gnupg/S.gpg-agent.ssh"

setopt menu_complete

zstyle ':prezto:*:*' color 'yes'

zstyle ':prezto:load' pmodule \
    'environment' \
    'editor' \
    'spectrum' \
    'history' \
    'directory' \
    'fasd' \
    'utility' \
    'completion' \
    'prompt' \
    'homebrew' \
    'osx' \
    'python' \
    'ssh' \
    'history-substring-search' \
    'git' \
    'docker'

zstyle ':prezto:module:editor' key-bindings 'vi'
zstyle ':prezto:module:prompt' theme '{{zsh_prompt_theme}}'

# vim: ft=zsh
