zstyle ':prezto:*:*' case-sensitive 'yes'

SSH_AUTH_SOCK="/run/user/1000/gnupg/S.gpg-agent.ssh"

setopt menu_complete

zstyle ':prezto:*:*' color 'yes'

zstyle ':prezto:load' pmodule \
    'environment' \
    'terminal' \
    'editor' \
    'history' \
    'directory' \
    'spectrum' \
    'utility' \
    'completion' \
    'prompt' \
    'ssh' \
    'history-substring-search' \
    'git' \
    'docker'

zstyle ':prezto:module:editor' key-bindings 'vi'
zstyle ':prezto:module:prompt' theme '{{zsh_prompt_theme}}'

CODEHOME={{codehome}}