export DOTFILES_PROFILE={{DOTFILES_PROFILE}}
export GOPATH="$HOME/dev/goroot"
export GOSRC="$HOME/dev/goroot/src"
export PATH="$PATH:$HOME/bin:$GOPAH/bin"
export EDITOR=vim
export TERMINAL=urxvt
export MC_SKIN="$HOME/.mc/solarized.ini"

