# Ls aliases
alias ll='ls -l'
alias la='ls -la'

alias ping="{{packages_bin}}/grc ping"
alias traceroute="{{packages_bin}}/grc traceroute"
alias make="{{packages_bin}}/grc make"
alias diff="{{packages_bin}}/grc diff"
alias netstat="{{packages_bin}}/grc netstat"
alias logc="{{packages_bin}}/grc cat"
alias logt="{{packages_bin}}/grc tail"
alias logh="{{packages_bin}}/grc head"

