# Ls aliases
alias ls='eza -l --icons auto --no-permissions --no-user --no-time'
alias ll='eza -lb --icons always'
alias lgr='eza -l --icons always --no-permissions --no-user --no-filesize --git-repos'
alias lg='eza -l --icons always --no-permissions --no-user --no-filesize --git'
alias la='eza -lab --icons always'
alias tre='eza -T --icons always'

alias ping="{{packages_bin}}/grc ping"
alias traceroute="{{packages_bin}}/grc traceroute"
alias make="{{packages_bin}}/grc make"
alias diff="{{packages_bin}}/grc diff"
alias netstat="{{packages_bin}}/grc netstat"
alias logc="{{packages_bin}}/grc cat"
alias logt="{{packages_bin}}/grc tail"
alias logh="{{packages_bin}}/grc head"

