#@IgnoreInspection BashAddShebang

kctl_binary="{{kubectl_bin}}"

alias k="$kctl_binary"
alias kl="$kctl_binary logs"
alias kt="$kctl_binary"
alias ke="$kctl_binary exec -ti"

# get aliases
alias kgp="$kctl_binary get po"
alias kgpw="$kctl_binary get po -o wide"
alias kgpy="$kctl_binary get po -o yaml"
alias kgpj="$kctl_binary get po -o json"
alias kgd="$kctl_binary get deploy"
alias kgns="$kctl_binary get ns"
alias kgn="$kctl_binary get no"
alias kgn_taints="$kctl_binary get no -o go-template-file=/Users/evpersienko/.kube/tpls/node_with_taints.tpl"
alias kgn_labels="$kctl_binary get no -o go-template-file=/Users/evpersienko/.kube/tpls/node_with_labels.tpl"
alias kgn_cordon="$kctl_binary get no -o go-template-file=/Users/evpersienko/.kube/tpls/node_cordon_reason.tpl | grep cordon"
alias kgs="$kctl_binary get svc"
alias kgcm="$kctl_binary get cm"
alias kgsec="$kctl_binary get secret"
alias kgrs="$kctl_binary get rs"
alias kgrb="$kctl_binary get rolebinding"
alias kgro="$kctl_binary get role"
alias kgcrb="$kctl_binary get clusterrolebinding"
alias kgcro="$kctl_binary get clusterrole"
alias kgcrd="$kctl_binary get crd"
alias kgsa="$kctl_binary get sa"
alias kgi="$kctl_binary get ing"
alias kgds="$kctl_binary get ds"
alias kge="$kctl_binary get events --sort-by='{.lastTimestamp}'"
alias kge_nodes="$kctl_binary get events --sort-by='{.lastTimestamp}' -A --field-selector 'involvedObject.kind=Node'"
alias kge_pods="$kctl_binary get events --sort-by='{.lastTimestamp}' --field-selector='involvedObject.kind=Pod'"

# describe aliases
alias kdp="$kctl_binary describe po"
alias kdd="$kctl_binary describe deploy"
alias kdn="$kctl_binary describe no"
alias kdns="$kctl_binary describe ns"
alias kds="$kctl_binary describe svc"
alias kdcm="$kctl_binary describe cm"
alias kdsec="$kctl_binary describe secret"
alias kdrs="$kctl_binary describe rs"
alias kdrb="$kctl_binary describe rolebinding"
alias kdro="$kctl_binary describe role"
alias kdcrb="$kctl_binary describe clusterrolebinding"
alias kdcro="$kctl_binary describe clusterrole"
alias kdcrd="$kctl_binary describe crd"
alias kdsa="$kctl_binary describe sa"
alias kdi="$kctl_binary describe ing"
alias kdds="$kctl_binary describe ds"

# delete aliases
alias kdelp="$kctl_binary delete po"

# capi aliases
alias kgm="$kctl_binary get machine"
alias kgmd="$kctl_binary get machinedeployment"
alias kgpm="$kctl_binary get platformmachine"
alias kgpmt="$kctl_binary get platformmachinetemplate"
alias kglxc="$kctl_binary get cmdblxc"
alias kglxct="$kctl_binary get cmdblxctemplate"
alias kgkact="$kctl_binary get kubeadmconfigtemplate"
alias kgkac="$kctl_binary get kubeadmcontrolplane"
alias kgbms="$kctl_binary get baremetalserver"
alias kgc="$kctl_binary get cluster"
alias kgic="$kctl_binary get infracluster"
alias -g LC="-l cluster.x-k8s.io/cluster-name="

alias -g NAN="| grep -E 'NotReady|Disabled'"

alias -g SAGE="--sort-by=.metadata.creationTimestamp"
alias -g SNODE="--sort-by=.spec.nodeName"
